<div class="detail">
  <h1>詳細</h1>
  <strong>タスク名：</strong>
  <p class="form-control mb-3">
    <%= @task.task_name %>
  </p>

  <strong>内容：</strong>
  <textarea readonly class="form-control mb-3">
    <%= @task.task_detail %>
  </textarea>

  <strong>終了期限：</strong>
  <p class="form-control mb-3">
    <%= @task.expiry_date %>
  </p>

  <strong>ステータス：</strong>
  <p class="form-control mb-3">
    <%= @task.status %>
  </p>

  <strong>優先順位：</strong>
  <p class="form-control mb-5">
    <%= @task.priority %>
  </p><%= link_to '戻る', tasks_path, class: 'btn btn-outline-success' %>
</div>

