<!DOCTYPE html>
<html>
  <head>
    <title>ManyouExam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="w-100">
      <div class="">
        <%= link_to "タスク登録", new_task_path, class: "ml-3"%>
        <%= link_to "タスク一覧", tasks_path, class: "ml-3"  %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
